@{
    ViewBag.Title = "Home Page";
}
<head>
    <title>Line Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<!-- https://stackoverflow.com/questions/44782688/chart-js-web-page-doesnt-display-chart-no-error-in-console -->
<div style="width:75%;">
    <canvas id="canvas"></canvas>
</div>
<script>
    var stringArray = @Html.Raw(Json.Encode(ViewData["Labels"]));

    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: stringArray,
            datasets: [{
                label: 'Dataset 1',
                data: [150, 200, 250, 150],
                color: "#878BB6",
            }, {
                label: 'Dataset 2',
                data: [250, 100, 150, 10],
                color: "#4ACAB4",
            }]
        }
    });
</script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gumel et al. (2004) - Hong Kong - Day Cumulative Disease Induced Deaths</h2>
        <p><img src='@Url.Action("DisplayChart_Gumel2004_HongKong_DayCumulativeDiseaseInducedDeaths", "Home")' alt="Chart" /></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gumel et al. (2004) - Hong Kong - Day Cumulative Probable Cases</h2>
        <p><img src='@Url.Action("DisplayChart_Gumel2004_HongKong_DayCumulativeProbableCases", "Home")' alt="Chart" /></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gumel et al. (2004) - Hong Kong - Day Asymptomatic Individuals</h2>
        <p><img src='@Url.Action("DisplayChart_Gumel2004_HongKong_DayAsymptomaticIndividuals", "Home")' alt="Chart" /></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>