@{
    ViewBag.Title = "Home Page";
}
<head>
    <title>Line Chart</title>
    <script src="~/Scripts/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.15.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.0"></script>
    <script src="~/Scripts/utils.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<div>
    <canvas id="canvas"></canvas>
</div>
<script>
    function generateData() {
        let date = luxon.DateTime.fromFormat('Jan 01 1990', 'LLL dd yyyy');

        const data = [];

        for (; data.length < 600 && date < luxon.DateTime.local(); date = date.plus({days: 1}).startOf("day")) {
            data.push(
                {
                    x: date.valueOf(),
                    y: Math.random() * (50 - 30) + 30
                });
        }

        return data;
    }

    const ctx = document.getElementById('canvas').getContext('2d');
    ctx.canvas.width = 1000;
    ctx.canvas.height = 300;

    const color = Chart.helpers.color;
    const cfg = {
        data: {
            datasets: [{
                label: 'CHRT - Chart.js Corporation',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                data: generateData(),
                type: 'line',
                pointRadius: 0,
                fill: false,
                lineTension: 0,
                borderWidth: 2
            }]
        },
        options: {
            animation: {
                duration: 0
            },
            scales: {
                x: {
                    type: 'time',
                    distribution: 'series',
                    offset: true,
                    ticks: {
                        major: {
                            enabled: true,
                        },
                        fontStyle: 'bold',
                        source: 'data',
                        autoSkip: true,
                        autoSkipPadding: 75,
                        maxRotation: 0,
                        sampleSize: 100
                    },
                },
                y: {
                    type: 'linear',
                    gridLines: {
                        drawBorder: false
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Closing price ($)'
                    }
                }
            },
            tooltips: {
                intersect: false,
                mode: 'index',
                callbacks: {
                    label: function (tooltipItem, myData) {
                        let label = myData.datasets[tooltipItem.datasetIndex].label || '';
                        if (label) {
                            label += ': ';
                        }
                        label += parseFloat(tooltipItem.value).toFixed(2);
                        return label;
                    }
                }
            }
        }
    };

    const chart = new Chart(ctx, cfg);
</script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gumel et al. (2004) - Hong Kong - Day Cumulative Disease Induced Deaths</h2>
        <p><img src='@Url.Action("DisplayChart_Gumel2004_HongKong_DayCumulativeDiseaseInducedDeaths", "Home")' alt="Chart" /></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gumel et al. (2004) - Hong Kong - Day Cumulative Probable Cases</h2>
        <p><img src='@Url.Action("DisplayChart_Gumel2004_HongKong_DayCumulativeProbableCases", "Home")' alt="Chart" /></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gumel et al. (2004) - Hong Kong - Day Asymptomatic Individuals</h2>
        <p><img src='@Url.Action("DisplayChart_Gumel2004_HongKong_DayAsymptomaticIndividuals", "Home")' alt="Chart" /></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>